#login{
    background-color: rgb(250, 253, 255);
    box-shadow: 2px 2px 5px;
    width: 500px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login>a{
    text-decoration: none;
}
#login>form input{
    width: 250px;
}
#login>form input:nth-child(1){
    margin: 10px;
    border: 0;
    border-bottom: 2px orange solid;
    border-left: 2px orange solid;
    padding: 10px;
}#login>form input:nth-child(2){
    margin: 10px;
    border: 0;
    border-bottom: 2px orange solid;
    border-left: 2px orange solid;
    padding: 10px;
}#login>form input:nth-child(3){
    margin: 10px;
    border: 0;
    border-bottom: 2px orange solid;
    border-left: 2px orange solid;
    padding: 10px;
    }
    #login>form input:nth-child(4){
    margin: 10px;
    border: 0;
    border-bottom: 2px orange solid;
    border-left: 2px orange solid;
    padding: 10px;
    }#login>form input:nth-child(5){
    background-color: orange;
    color: #FFFFFF;
    border-radius: 20px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}
#login>a{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    color: orange;
}
#login > a:nth-child(3){
    color: black;
}		