body {
  font-family: "Inter", sans-serif;
}
main {
  padding: 0 5%;
}
.banner {
  /* background-image: url("../img/pizza.webp"); */
  background-size: cover;
  background-position: center;

  height: 600px;
  margin: 0 auto;
  border-radius: 40px;
}
.cal-bar {
  background-color: #d9d9d9;

  height: 50px;
  width: 1000px;
  border-radius: 40px;
}
.cal-bar div {
  background-color: #f07f00;
  border-radius: 40px;
  height: 50px;
}

p {
  font-size: 40px;
  margin: 2px;
}
h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 2px;
}
h2 {
  font-size: 65px;
  margin-bottom: 10px;
  /* font-weight: bold; */
}
h3 {
  font-size: 45px;
  margin: 10px 0;
}
ul {
  list-style-type: none;
  font-size: 30px;
}
